<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CristalHeladozzz.Properties.Settings.eliarome35448DBConnectionString" connectionString="server=74.63.196.2;User Id=eliarome35448;password=4lnS6eodR3Ei;Persist Security Info=True;database=eliarome35448DB" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
